{% extends "base.html" %}
{% block content %}

    <div class="content">

        {% if task_list %}
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_list %}
                        <tr>
                            <td></td>
                            <td>
                                <a href="/{{ task.title }}/"> {{ task.title }}</a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        {% else %}
            <p>No polls are available.</p>
        {% endif %}

    </div>
{% endblock %}