
.status_card {
    background-color: #EFF1F3;
    width: 320px;
    margin: 8px 8px 8px 8px;
}
.status_card_title {
    padding: 8px 8px 8px 8px;

}

.task_card {
    background-color: #FFFFFF;
    width: 300px;
    margin: 0px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
}