body{
    margin: 0;
}

.status_card {
    background-color: #EFF1F3;
    margin: 8px 8px 8px 8px;
}

.status_card_title {
    padding: 8px 8px 8px 8px;

}

.task_card {
    background-color: #FFFFFF;
    margin: 0px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
}

.mdc-layout-grid__cell {
    grid-column-end: span 3;
}